/.metadata/
/AgentPortal/
/TaskExecutorStudentDevProject
/TaskExecutorStudentTestingProject
TaskExecutorStudentDevProject_singleton/.classpath
TaskExecutorStudentDevProject_singleton/.project
TaskExecutorStudentDevProject_singleton/.settings/org.eclipse.jdt.core.prefs
TaskExecutorStudentDevProject_singleton/bin/edu/utdallas/blockingFIFO/BlockingFIFO.class
TaskExecutorStudentDevProject_singleton/bin/edu/utdallas/taskExecutor/Task.class
TaskExecutorStudentDevProject_singleton/bin/edu/utdallas/taskExecutor/TaskExecutor.class
TaskExecutorStudentDevProject_singleton/bin/edu/utdallas/taskExecutorImpl/TaskExecutorImpl.class
TaskExecutorStudentDevProject_singleton/bin/edu/utdallas/taskExecutorImpl/TaskRunner.class
TaskExecutorStudentDevProject_singleton/Readme.txt
TaskExecutorStudentDevProject_singleton/src/edu/utdallas/blockingFIFO/BlockingFIFO.java
TaskExecutorStudentDevProject_singleton/src/edu/utdallas/taskExecutor/Task.java
TaskExecutorStudentDevProject_singleton/src/edu/utdallas/taskExecutor/TaskExecutor.java
TaskExecutorStudentDevProject_singleton/src/edu/utdallas/taskExecutorImpl/TaskExecutorImpl.java
TaskExecutorStudentDevProject_singleton/src/edu/utdallas/taskExecutorImpl/TaskRunner.java
/bin/
